body{
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), white);
  }
  
  .container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator{
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background:   whitesmoke;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  #user_input{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    color: white;
    background: rgb(48, 49, 73);
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
    font-size: 2rem;
  }
  
  .btn{
    width: 24%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    color: white;
    margin-top: 3px;
    background: rgb(48, 49, 73);
  }
  
  .btnEqual{
    width: 99.2%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    color:white;
    margin-top: 3px;
    background: rgb(48, 49, 73);
  }
  
  .btn:hover, .btnEqual:hover{background-color: rgba(186, 146, 146, 0.1);color: black;}
  
  @media(max-width:480px){
    .btn{width: 23.4%;}
  }
  
  @media(max-width:320px){
    .btn{width: 23%;}
    
    }

  }
